

.column{
    font-size:18px;
    font-family: 'Metal Mania', cursive;
    background-color: rgb(118, 155, 137);
}
.totalScore{
    font-size:24px;
    font-family: 'Metal Mania', cursive;
}

.totalRanking{
    font-size:24px;
    font-family: 'Metal Mania', cursive;
    
}