@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');


.App {
  text-align: center;
}

.ml-auto {
    text-align: center;
}

.App-header {
    background-color: #B1A296;
    height: 200px;
    padding: 15px;
    color: white;
}
.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.App-link {
  color: #61dafb;
}
.App-title {
    align-self: center;
    color:black;
}

.App-header {
    align-items: center;
    background-color: #B1A296;
    height: 180px;
    padding: 15px;
    color: white;
}

.HomeMain{
    
    height: 100vh;
    background-color: #B1A296;
    
}

#HomePic {
    position: absolute;
    left:0px;
}

.WelcomeDiv{
   
    position: relative;
    left: 25em;
    top:4em;
   
    width:780px;
    
}
.WelcomeDiv h1
{
    position: relative;
    bottom: -0.7em;
    font-family: 'Metal Mania', cursive;
    font-size: 45px;
}
.WelcomeDiv h2
{
    position: relative;
 
    font-family: 'Metal Mania', cursive;
    font-size: 112px;
}
.HomeExplain{
    position: relative;
    left: 24em;
    top:4em;
    font-family: 'Lucida Sans Unicode';
    font-size: 17px;
    height: 100px;
    width: 700px;
}

.HelpTool{
    text-align: center;
    position: relative;
    left: 58em;
    top:-11em;
    font-family: 'Lucida Sans Unicode';
    font-size: 17px;
    border-radius: 18px;
    background:#557A95;
    padding: 0px;
    width: 200px;
    height: 220px;
    
}
.HelpTool h2{
    padding-top: 20px;
    padding-bottom: 15px;
    
}

.HelpTool ul {
    list-style-type: none;
   
    margin: auto;
    padding: 0;
}
.HelpTool ul li{
    margin: auto;
    padding: 0;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    
}
.HelpTool ul li:last-child {
    border: none;
  }

.HelpTool ul li a {
    text-decoration: none;
    color: #000;
  
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 200px;
  }
  
.HelpTool ul li a:hover {
    font-size: 25px;
    background: #29648a;
    color:rgb(195, 195, 196);
  }
  

.footer  {
    background-color: #dadada;
    color: #616161 ;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerdiv {
    padding: 10px 50px 10px 100px;
   
}