.App {
  text-align: center;
}

.ml-auto {
    text-align: center;
}

.App-header {
    background-color: #B1A296;
    height: 200px;
    padding: 15px;
    color: white;
}
.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.App-link {
  color: #61dafb;
}
.App-title {
    align-self: center;
    color:black;
}

.App-header {
    align-items: center;
    background-color: #B1A296;
    height: 180px;
    padding: 15px;
    color: white;
}

.HomeMain{
    
    height: 100vh;
    background-color: #B1A296;
    
}

.WelcomeDiv{
    border-style: solid;
    border-width: 5px;
    padding: 10px 50px 10px 150px;
    position: relative;
    left: 50px;
    top:20px;
    right:200px;
    width:780px;
}

.footer  {
    background-color: #dadada;
    color: #616161 ;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerdiv {
    padding: 10px 50px 10px 100px;
   
}